#aboutMe {
    font-size: 20px;
}


.languageItem {
    max-height: 150px;
    
}

.hotelTitle {
    text-align: center;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

section {
    position: relative;
    padding-top: 90px;
    display: block;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}