#menu-toggle {
    z-index: 1;
    position: fixed;
    top:0;
    right: 0;
}

.toggle {
    margin: 5px 5px 0 0;
}

.btn-dark {
    margin: 5px 0px 5px 1px;
    border-radius: 0;
    color: #fff;
    background-color: rgba(14, 37, 241, 0.4);
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0x;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 30px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

